body {
    background-color: lightgray;
}

#main {
    text-align: center;
}

.header {
    display: inline-block;
}

.header h2 {
    color: coral;
    font-size: 32px;
    font-family: serif;
    text-shadow: -1px -1px #000,
        1px -1px #000,
        -1px 1px #000,
        2px 2px #000;
}

.central div {
    display: inline-block;
}

.overlay {
    position: absolute;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2px;
    padding: 2px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-error-message {
    color: darkred;
    font-size: 12px;
}

.lobby-message {
    color: darkgreen;
    font-size: 12px;
}

.side div {
    display: block;
}

.side {
    vertical-align: top;
}

.known-buildings-div div {
    display: inline-block;
}

.infospace {
    /*border: 1px solid black;*/
}

.footer-message {
    /*color: darkgreen;*/
}


